.branding-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--white, #fff);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px;
}

.branding-title.is-active {
  color: var(--dark-blue, #005564);
}
